.footcontainer {
	max-width: 1170px;
	margin: auto;
}

.footerfontDiv {
	color: var(--font);
}

.rowDiv {
	display: flex;
	flex-wrap: wrap;
}

ul {
	list-style: none;
}

.footer {
	background-color: var(--custom-bg);
	padding: 30px 0;
}

.footer-col {
	width: 25%;
	padding: 0 15px;
}

.footer-col h4 {
	font-size: 18px;
	color: var(--font);
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.footer-col h4::before {
	content: '';
	position: absolute;
	left: 0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}

.social-links a {
	padding-right: 20px;
}

/*responsive*/
@media(max-width: 767px) {
	.footer-col {
		width: 50%;
		margin-bottom: 30px;
	}
}

@media(max-width: 574px) {
	.footer-col {
		width: 100%;
	}
}

.custom-icon-color {
	color: var(--black);
}

.footer-hover-link a {
	position: relative;
	overflow: hidden;
	text-decoration: none;
}

.footer-hover-link a:hover {
	color: var(--custom-font-blue) !important;
}

.footer-hover-link a:after {
	content: "";
	position: absolute;
	left: 0;
	right: 100%;
	bottom: -5px;
	background: var(--custom-font-blue);
	height: 2px;
	transition: left 0.3s ease-out, right 0.3s ease-out;
}

.footer-hover-link a:hover:after,
.footer-hover-link a:focus:after,
.footer-hover-link a:active:after {
	right: 0;
}

.footer-hover:hover {
	color: #82caff !important;
}