.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #ffffff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .mainDiv {
  width: 100%;
  height: 100vh;
  background: linear-gradient(90deg, #ffffff 0%, #d5edfb); */
  /* background: url('./component/images/bg-img.jpg'), linear-gradient(90deg, #ddd9d9 6%, #ffffff 0%, #d5edfb); */
  /* background-image: url('./component/images/bg-img.jpg'); */
  /* background-repeat: no-repeat;
  background-position: right top;
} */

a {
  cursor: pointer;
}

/* Light Mode */
.light {
  background-color: var(--bg);
  color: var(--font);
}

/* Dark Mode */
.dark {
  background-color: var(--bg);
  color: var(--font);
}

